<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/admins">home Admin</a>
    <a href="/users">home Users</a>
    <br>
    <br>
   
    <h1>Form Add  Product</h1>
    <form action="/admins/addPrdoucts" method="POST">
    name Product <br>
    <input type="text" name="name" id="" value=""><br><br>
   
    denom Product <br>
    <input type="text" name="denom" id="" value=""><br><br>
    
    price Product <br>
    <input type="text" name="price" id="" value=""><br><br>

    imageUrl Product <br>
    <input type="text" name="imageUrl" id="" value=""><br><br>
   
    description Product <br>
    <input type="text" name="description" id="" value=""><br><br>
 
    Category Id Product <br>
    <input type="text" name="CategoryId" id="" value=""><br><br>

    Company Id Product <br>
    <input type="text" name="CompanyId" id="" value=""><br><br>
   
    <input type="submit">
</form>
</body>
</html>