<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/admins">home Admin</a>
    <a href="/users">home Users</a>
    <br>
    <br>
   
    <h1>Form Add  Company</h1>
    <form action="/admins/addCompanys" method="POST">
    name Company <br>
    <input type="text" name="name" id="" value=""><br><br>

    Adress Company <br>
    <input type="text" name="address" id="" value="">
    <br>
    <br>
    phone Number Company <br>
    <input type="text" name="phoneNumber" id="" value="">
    <br>
    <br>
    <input type="submit">
</form>
</body>
</html>