<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/admins">home Admin</a>
    <a href="/users">home Users</a>
    <br>
    <br>
   
    <h1>Form Register User</h1>
    <form action="/users/register" method="POST">
    Username <br>
    <input type="text" name="username" id=""><br><br>
    password  <br>
    <input type="text" name="password" id=""><br>
    <br>
    <input type="submit">
</form>
</body>
</html>