<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid" style="display: flex;">
      <a href="/users"><img src="https://imgtr.ee/images/2023/01/12/GqDpJ.png" alt="Logo" width="140" height="24" class="d-inline-block align-text-top"></a>
      <div style="text-align: right;">
        <button class="btn btn-info" style="margin-left: 20px;"><a href="/users/profiles" class="nav-link">Profile</a></button>
        <button class="btn btn-danger" style="margin-left: 20px; margin-right: 20px;"><a href="/" class="nav-link">Logout</a></button>
      </div>
    </div>
</nav>
<!-- <a href="/">Home</a>
<a href="/admins">home Admin</a>
<a href="/users">home Users</a> -->