<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid" style="display: flex;">
      <a href="/admins"><img src="https://imgtr.ee/images/2023/01/12/GqDpJ.png" alt="Logo" width="140" height="24" class="d-inline-block align-text-top"></a>
      <div style="text-align: right;">
        <a href="/admins/tabelInvoiceAdmin">Invoice Table</a>
        <a href="/admins/report">Transactions Report</a>
        <a href="/admins/tabelUsers">Tabel Users</a>
        <a href="/admins/tabelCategorys">Tabel Category</a>
        <a href="/admins/tabelCompanys">Tabel Company</a>
        <a href="/admins/tabelProducts">Tabel Product</a>

        <button class="btn btn-danger px-5" style="margin-left: 20px;"><a href="/" class="nav-link">Logout</a></button>
      </div>
    </div>
</nav>
<!-- <a href="/">Home</a>
<a href="/admins">home Admin</a>
<a href="/users">home Users</a> -->