<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>No</th>
            <th>Username</th>
            <th>Password</th>
            <th colspan="2">Action</th>
        </tr>
        <tr>
            <td>No</td>
            <td>Username</td>
            <td>Password</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </table>
</body>
</html>